<?xml version="1.0"?>
<config>
    <modules>
        <Checkbook>
            <version>0.1.0</version>
        </Checkbook>
    </modules>
    <frontend>
        <routers>
            <checkbook>
                <use>standard</use>
                <args>
                    <module>Checkbook</module>
                    <frontName>checkbook</frontName>
                </args>
            </checkbook>
        </routers>
        <layout>
            <updates>
                <checkbook>
                    <file>checkbook.xml</file>
                </checkbook>
            </updates>
        </layout>
    </frontend>
    <global>
        <fieldsets>
             <sales_convert_quote_payment>
                <check_no>
                    <to_order_payment>*</to_order_payment>
                </check_no>
                <check_date>
                    <to_order_payment>*</to_order_payment>
                </check_date>
             </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <checkbook>
                <class>Checkbook_Model</class>
                <resourceModel>checkbook_mysql4</resourceModel>
            </checkbook>
            <checkbook_mysql4>
                <class>Checkbook_Model_Mysql4</class>
                <entities>
                    <checkbook>
                        <table>checkbook</table>
                    </checkbook>
                </entities>
            </checkbook_mysql4>
        </models>
        <resources>
            <checkbook_setup>
                <setup>
                    <module>Checkbook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </checkbook_setup>
            <checkbook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </checkbook_write>
            <checkbook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </checkbook_read>
        </resources>
        <blocks>
            <checkbook>
                <class>Checkbook_Block</class>
            </checkbook>
        </blocks>
        <helpers>
            <checkbook>
                <class>Checkbook_Helper</class>
            </checkbook>
        </helpers>
    </global>
    <default>
        <payment>
            <checkbook>
                <active>1</active>
                <model>checkbook/checkbook</model>
                <order_status>processing</order_status>
                <title>Pay By Checkbook</title>
                <message>You can now pay securely by check online</message>
            </checkbook>
         </payment>
    </default>
</config>